<div class="qcontainer">
  <h6 class="primary-title">My Bookings</h6>
  <div class="pscard">
    <% if !@bookings.empty? %>
      <% @bookings.each do |booking| %>
          <div class="pscontainer">
            <div>
              <%= cl_image_tag booking.product.photo, height: 35, width: 35, crop: :fill, class: ""  %>
            </div>
            <div class="psdates">
              <%= booking.fromdate %>&nbsp;&nbsp;-&nbsp;&nbsp;<%= booking.todate %><br>
              <%= booking.product.location %>
            </div>
            <div class="psdates">
              <%= number_with_delimiter(booking.amount) %>
              <span style="font-weight: normal;">SEK</span>
            </div>
            <div>
              <%= link_to  product_booking_path(booking.product.id, booking), method: :delete, data: { confirm: 'Are you sure?' }  do %>
                <i class="far fa-trash-alt pstrashcan"></i>
              <% end %>
            </div>
          </div>
      <% end %>
    <% else %>
      <div class="nobookings">There are no bookings for you<br>to review at the moment</div>
    <% end %>
  </div>
</div>
