<p id="notice"><%= notice %></p>

<div class="container">

  <% if !@bookings.empty? %>
  <div class="row">

    <div class="col">
      <br><br><strong>Booked by:</strong>
      <%= @user.name%>
    </div>
  </div>
  <% @bookings.each do |booking| %>
  <div class="row">
    <div class="col">
      <br><br><strong>Booked from:</strong>
      <%= booking.fromdate %>
    </div>
    <div class="col">
      <br><br><strong>Booked till:</strong>
      <%= booking.todate %>
    </div>
    <div class="col">
      <br><br><strong>Booking Amount in SEK:</strong>
      <%= booking.amount %>
    </div>
    <div class="col">
      <br><br><strong>Product:</strong>
      <%= booking.product.title %>
    </div>
    <div class="col">
      <br><br><%= link_to "Edit booking", edit_product_booking_path(booking.product.id, booking.id), class: 'btn btn-secondary' %>
    </div>
    <div class="col">
      <br><br><%= link_to "Cancel booking", product_booking_path(booking.product.id, booking), method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-secondary' %>
    </div>
  </div>

  <% end %>
  <% else %>
  <h3>There are no bookings</h3>
  <% end %>
  <br><br><%= link_to 'Back to Products listing', products_path, class: 'btn btn-secondary'  %>
</div>

