<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom">
  <div class="container" >
    <div class=" navbar-collapse navbar-icons">
      <% if user_signed_in? %>
        <div class="logo-div">
          <%= link_to products_path, class: "navbar-brand" do %>
          <%= image_tag "logo.jpg" %>
          <% end %>
        </div>
        <div class="logo-div">
          <%= link_to new_product_path do %>
            <i class='fas fa-plus add-product'></i>
          <% end %>
        </div>
        <div class="logo-div">

          <%= link_to (cl_image_tag(current_user.photo, :crop=>"crop", :gravity=>"face",  class: "avatar", 'aria-expanded': false)), products_bookings_show_path %>
        </div>
      <% else %>
        <div>
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
