<div class="navbar navbar-expand-sm navbar-light navbar-lewagon fixed-bottom">
  <div class="navbar-container" >
    <div class="navbar-icons">
      <% if user_signed_in? %>
      <div class="logo-div">
        <%= link_to products_path, class: "navbar-brand" do %>
        <%= image_tag "logo.jpg" %>
        <% end %>
      </div>
      <div class="logo-div">
        <%= link_to new_product_path do %>
        <i class='fas fa-plus add-product'></i>
        <% end %>
      </div>
      <div class="logo-div">
        <div id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
             <%= cl_image_tag(current_user.photo, class: "avatar dropdown-toggle", id: "navbarDropdown", :crop=>"crop", :gravity=>"face", width: 1700, height: 1700, data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false) %>
             <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdown">
              <%= link_to "My Bookings", show_bookings_path, class: "dropdown-item" %>
              <%= link_to "My Products", show_my_products_path, class: "dropdown-item" %>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <% else %>
    <div>
      <%= link_to "Login", new_user_session_path, class: "nav-link" %>
    </div>
    <% end %>
  </div>
</div>
</div>
