<%= simple_form_for(@product) do |f| %>
<%= f.error_notification %>
<%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

<div class="form-inputs product-form">
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :location %>
  <!-- Rating Addition for Product Creation -->
  Rating: <%= f.select :rating, (1..5) %>
  <!-- End of Addition -->
  <%= f.input :photo, :multiple => true %>
</div>
<div class="form-actions product-form">
  <%= f.button :submit, class: "btn btn-primary" %>
</div>
<% end %>




