<p id="notice"><%= notice %></p>

<%= cl_image_tag @images.photo, height: 300, width: 400, crop: :fill  %>
 <h6><%= @product.title %></h6>


<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @product.rating %>
</p>

<p>
  <strong>Location:</strong>
  <%= @product.location %>
</p>

<%= link_to 'Back', products_path %>
