<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <%= cl_image_tag @image.photo, height: 300, width: 400, crop: :fill  %>
  </div>
  <div class="row">
    <div class="col">
      <br><br><strong>Title:</strong>
      <%= @product.title %>
    </div>
    <div class="col">
      <br><br><strong>Rating:</strong>
      <%= @product.rating %>
    </div>
  </div><br>
  <div class="row">
    <strong>Description:</strong>
    <%= @product.description %>
  </div><br>
  <div class="row">
    <div class="col">
      <strong>Price:</strong>
      <%= @product.price %>
    </div>
    <div class="col">
      <strong>Location:</strong>
      <%= @product.location %>
    </div>
  </div><br>
<!--   <% if !@booking.nil? %>
<div class="row">
  <strong>Booking Details:</strong>
</div>
<div class="row">
  <strong>Amount paid for the booking in SEK:</strong>
  <%= @booking.amount %>
</div>
<div class="row">
  <div class="col">
    <br><strong>Booking Start Date:</strong>
    <%= @booking.fromdate %>
  </div>
  <div class="col">
    <br><strong>Booking End Date:</strong>
    <%= @booking.todate %>
  </div>
</div>
<% end %> -->
<% if @booking.nil? %>
<strong>No bookings made yet for this product</strong><br><br>
<%= link_to 'Book now', new_product_booking_path(@product.id), class: 'btn btn-secondary' %><br><br>
<% end %><br><br>
<% if !@booking.nil? %>
<%= link_to "Show booking", product_booking_path(@product.id, @booking.id), class: 'btn btn-secondary'  %><br><br>
<% end %>
  <%= link_to 'Back to Product Listing', products_path, class: 'btn btn-secondary'  %>
</div>

